@import "tailwindcss";

:root {
  --primary-color: #F7F7F7;
  --secondary-color: #6b92db;
  --tertiary-color: #0a0a0a;
  --dark-text: black;
  --light-text: white;
  --primary-font: arial, system-ui;
  --secondary-font: sans-serif, system-ui;
}

@theme inline {
  --primary-color: var(--primary-color);
  --secondary-color: var(--secondary-color);
  --tertiary-color: var(--tertiary-color);
  --primary-font: var(--primary-font);
  --secondary-font: var(--secondary-font);
  --light-text: var(--light-text);
  --dark-text: var(--dark-text);
}

html.dark {
  --primary-color: #0a0a0a;
  --secondary-color: #cedfff;
  --tertiary-color: #851b1b;
  --dark-text: white;
  --light-text: black;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
